/***************          Header                     ***************/

$primary-color: rgba(156, 4, 136, 0.05);
$font:400 75px/0.6 'Tangerine',
cursive;
.navbar {
    min-height: 4em !important;
}

.navbar-helper {
    height: 1px;
    display: contents;
    height: auto;
}

.navbar-header-helper {
    display: inline-flex;
    width: 100%;
    margin-top: 0.5em;
    padding: 20px 20px 0px 20px !important;
}

.navbar-brand-helper {
    font: $font;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 0px rgba(54, 46, 54, 0.17);
}

.navbar-brand-description {
    margin-left: 1em;
}

.nav-brand-width-helper {
    width: 100%;
    text-align: center;
}

.nav-links {
    margin-top: 1em;
    text-align: center;
}

.nav-links li {
    font-size: calc(100% + 0.3em);
    padding: 0px 0px 5px 10px;
}

.nav-link a {
    color: rgb(0, 0, 0);
}


.admin-container {
    background-color: $primary-color !important;
    height: 3em;
}

.tagline-text-helper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/***************          Find us Map                  ***************/

.map-header {
    text-align: center;
}

#map {
    height: 262px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.find-tab {
    padding: 1em;
    position: fixed;
    transition: 0.5s;
    top: 15em;
    margin-left: -3em;
}

.find-text {
    font-size: 2em;
    writing-mode: sideways-rl;
    text-orientation: upright;
    width: 1em;
}

.find-sidenav-open {
    width: auto;
    z-index: 1;
    overflow-x: hidden;
    height: auto;
}
.find-sidenav-closed {
    display: none;
}

#findContainer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#findContainer a:hover {
    color: #f1f1f1;
}

#findContainer.closebtn {
    position: absolute;
    top: auto;
    right: auto;
    font-size: 36px;
    margin-left: 50px;
}


/***************          Contact                     ***************/

.contact-info-left {
    text-align: left;
    line-height: 1.3em;
}

.contact-info-right {
    text-align: right;
    line-height: 1.3em;
}

.contact-holder {
    margin: 0em 5em 0em 5em;
    display: flex;
}

.contact-width {
    width: 100%;
}

.contact-info-helper {
    bottom: calc(10% + 1px);
    border-right: dotted 2px rgba(156, 4, 136, 0.226);
}

.contact-helper {
    height: 11em;
    margin-bottom: 30px;
    color: inherit;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    text-align: right;
}

.contact-tab {
    padding: 1em;
    position: fixed;
    transition: 0.5s;
    top: 15em;
}

.contact-text {
    font-size: 2em;
    writing-mode: sideways-rl;
    text-orientation: upright;
    width: 1em;
}

.contact-sidenav-open {
    width: auto;
    z-index: 1;
    overflow-x: hidden;
    height: auto;
}
.contact-sidenav-closed {
    display: none;
}

.word-wrapping {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#contactContainer a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


#contactContainer .closebtn {
    position: absolute;
    top: auto;
    right: auto;
    font-size: 36px;
    margin-left: 50px;
}
/***************          Footer                     ***************/

.footer-helper {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: rgba(156, 4, 136, 0.01) !important;
    margin-top: -0.2em;
    min-height: 2em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom: 5px rgba(156, 4, 136, 0.05) dotted;
    border-left: 5px rgba(156, 4, 136, 0.05) dotted;
    border-right: 5px rgba(156, 4, 136, 0.05) dotted;
}

/***************          Back to top              ***************/
#backToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px #f4c6ff dotted; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#e9c3c3; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
