/***************          Fascinators                 ***************/
.lity-active,
.lity-active body {
    overflow: hidden;
}

.hat-collection {
  text-align: center;
}
.hat {
  width: 12em;
  display: inline-block;
  align-content: center;
  padding: 1em;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
  border-radius: 10px;
}

.hat img {
  border-radius: 1em;
}
.hat img:hover {
  z-index: 6;
  position: relative;
  transform: scale(2, 2);
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-in;
}
.hat-details{
  font: 400 2em 'Oleo Script', Helvetica, sans-serif;
}
li[class^=hat-info-] {
  position: absolute;
  left: 8em;
  z-index: 9;
  display: none;
  height: 100%;
  width: 5em;
  background: #ff71ff4f;
  border-top-right-radius: 1em;
  border: 1px pink dashed;
  border-bottom-right-radius: 1em;
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-in;
} 
/***************          Fascinators images          ***************/
.image-container {
  width: 30%;
  padding: 5px;
  display: inline-flex;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-out;
}
.image-container:hover img {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-in;
}
.images-holder {
  display: inline-block;
  text-align: center;
}
.text-image-holder {
  position: absolute;
  bottom: 8px;
  left: 20px;
}
.display-image {
  margin: auto;
  display: inherit;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 5px;
  height: 85%; 
}
.text-image-helper {
  font: 400 3em 'Oleo Script', Helvetica, sans-serif;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height: 1.2;
  align-content: center;
}
.about-image {
  margin: auto;
  width: 100%;
  padding: 10px;
  display: inline-flex;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 5px;
 }
img {
    display: inline-block;
    width: 100%;
    height: auto;
}
/***************          Fascinators admin           ***************/
.hat-details-admin{
  height: 2em;
  font-size: 1em;
  border: none;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}
.hat-details-admin:focus{
  height: 2em;
  border-style: dotted;
  border-width: 1px;
  border-color: rgb(245, 189, 237) ;
  background: rgba(0, 0, 0, 0);
  border-radius: 1em;
}
.hat-upload-admin{
  display: inline-flex !important;
}
.create-new{
  text-align: center;
  border-bottom-style: dashed;
  border-width: .1em;
  border-color: rgb(245, 189, 237);
  line-height: 5em;
  display: grid;
}

/***************          Header                     ***************/

$primary-color: rgba(156, 4, 136, 0.05);
$font:400 75px/0.6 'Tangerine',
cursive;
.navbar {
    min-height: 4em !important;
}

.navbar-helper {
    height: 1px;
    display: contents;
    height: auto;
}

.navbar-header-helper {
    display: inline-flex;
    width: 100%;
    margin-top: 0.5em;
    padding: 20px 20px 0px 20px !important;
}

.navbar-brand-helper {
    font: $font;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 0px rgba(54, 46, 54, 0.17);
}

.navbar-brand-description {
    margin-left: 1em;
}

.nav-brand-width-helper {
    width: 100%;
    text-align: center;
}

.nav-links {
    margin-top: 1em;
    text-align: center;
}

.nav-links li {
    font-size: calc(100% + 0.3em);
    padding: 0px 0px 5px 10px;
}

.nav-link a {
    color: rgb(0, 0, 0);
}

.admin-container {
    background-color: $primary-color !important;
    height: 3em;
}

.tagline-text-helper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/***************          Find us Map                  ***************/

.map-header {
    text-align: center;
}

#map {
    height: 262px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.find-tab {
    padding: 1em;
    position: fixed;
    transition: 0.5s;
    top: 15em;
    margin-left: -3em;
}

.find-text {
    font-size: 2em;
    writing-mode: sideways-rl;
    text-orientation: upright;
    width: 1em;
}

.find-sidenav {
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    height: 0;
}

.find-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.find-sidenav a:hover {
    color: #f1f1f1;
}

.find-sidenav .closebtn {
    position: absolute;
    top: auto;
    right: auto;
    font-size: 36px;
    margin-left: 50px;
}


/***************          Contact                     ***************/

.contact-info-left {
    text-align: left;
    line-height: 1.3em;
}

.contact-info-right {
    text-align: right;
    line-height: 1.3em;
}

.contact-holder {
    margin: 0em 5em 0em 5em;
    display: flex;
}

.contact-width {
    width: 100%;
}

.contact-info-helper {
    bottom: calc(10% + 1px);
    border-right: dotted 2px rgba(156, 4, 136, 0.226);
}

.contact-helper {
    height: 11em;
    margin-bottom: 30px;
    color: inherit;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    text-align: right;
}

.contact-tab {
    padding: 1em;
    position: fixed;
    transition: 0.5s;
    top: 15em;
}

.contact-text {
    font-size: 2em;
    writing-mode: sideways-rl;
    text-orientation: upright;
    width: 1em;
}

.contact-sidenav {
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
    height: 0;
}

.word-wrapping {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.contact-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.contact-sidenav .closebtn {
    position: absolute;
    top: auto;
    right: auto;
    font-size: 36px;
    margin-left: 50px;
}
/***************          Footer                     ***************/

.footer-helper {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-color: rgba(156, 4, 136, 0.01) !important;
    margin-top: -0.2em;
    min-height: 2em;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom: 5px rgba(156, 4, 136, 0.05) dotted;
    border-left: 5px rgba(156, 4, 136, 0.05) dotted;
    border-right: 5px rgba(156, 4, 136, 0.05) dotted;
}
/***************          Login              ***************/

.login-container::before,
.login-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3.5px;
    left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;
}

.login-container::after {
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    ;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.form-box input:focus {
    outline: 0;
    background: #eee;
}

.form-box input[type="text"] {
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}
/***************          Elements                     ***************/

html {
    margin-top: 3em;
}

body {
    background-image: url("/leaves-pattern/leaves-pattern.png");
    background-color: #cccccc;
 }

body {
    padding-top: 0px;
}

header {
    padding-bottom: 0.7em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block !important;
}

// div {
//     -webkit-animation: somename 0.7ss;
//     -moz-animation: somename 0.7s;
//     animation: somename 0.7s;
// }

// @-webkit-keyframes somename {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(20px);
//         transform: translateY(20px);
//     }
//     100% {
//         opacity: 1;
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//     }
// }

// @-moz-keyframes somename {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(20px);
//         transform: translateY(20px);
//     }
//     100% {
//         opacity: 1;
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//     }
// }

// @keyframes somename {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(20px);
//         transform: translateY(20px);
//     }
//     100% {
//         opacity: 1;
//         -webkit-transform: translateY(0);
//         transform: translateY(0);
//     }
// }


div.jumbotron {
    padding: 20px 20px 20px 20px !important;
    //background-color: rgba(255, 255, 255, 0.05) !important;
    border-top: 5px rgba(255, 255, 255, 0.05) solid;
    border-radius: 1px;
    text-align: center;
}

.glyphicon {
    display: inline-flex !important;
}

/***************          Content admin           ***************/
.content-details-admin{
    width: 100%;
    font-size: 1em;
    border: none;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 1.2em;
  }
  .content-details-admin:focus{
    border-color: rgb(245, 189, 237) ;
    background: rgba(0, 0, 0, 0);
    border-radius: 1em;
  }
/***************          Custom columns              ***************/

.col-cust-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-cust-9 {
    width: 75%;
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-cust-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-container {
    display: inline-block;
    width: 100%;
    border-style: dotted;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 5px;
    border-color: rgba(156, 4, 136, 0.05) !important;
    margin-top: -1.5em;
    background-color: rgba(156, 4, 136, 0.01);
}

.main-content {
    width: 95%;
    margin: 0px auto 0px auto;
}

.container-fluid-custom {
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-top: 5px rgba(156, 4, 136, 0.05) dotted;
    border-left: 5px rgba(156, 4, 136, 0.05) dotted;
    border-right: 5px rgba(156, 4, 136, 0.05) dotted;
    background-color: rgba(156, 4, 136, 0.01);
    margin-top: -1.5em;
}

.container .jumbotron {
    border-radius: 0px !important;
}

.col-xs-12 {
    background-color: rgba(156, 4, 136, 0.10) !important;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.remove-bg-colour {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

.margin-auto{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/***************          Animation                     ***************/

.zoom-controls{
    height:50px;
    position:absolute;
    width:50px;
    left:50%;
    bottom:0;
    margin-left:-25px;
    z-index: 9991;
}
.zoom-button-left {
    z-index:9992;
    right: -20em;
    position: absolute;
}
.zoom-button-right {
    z-index:9992;
    left: -20em;
    position: absolute;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


/***************          Alerts Popup              ***************/

#output {
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success {
    background: rgb(25, 204, 25);
}

#output.alert-danger {
    background: rgb(228, 105, 105);
}

.about-image {
    border-radius: 2em;
}
@media (max-width: 400px) {
    .navbar-brand-helper {
        font: 400 40px/0.6 'Tangerine', cursive;
        color: rgb(0, 0, 0);
        text-shadow: 5px 2px 0px rgba(54, 46, 54, 0.17);
    }
    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        border-top: 3px;
        background-color: rgba(156, 4, 136, 0.10) !important;
        border-top: 5px rgba(156, 4, 136, 0.05) solid;
        margin-top: -1.5em;
    }
    .nav-links li {
        font-size: calc(100% + 0.1em);
        padding: 0px 0px 1px 5px;
    }
    .login-container {
        position: relative;
        width: 300px;
        margin: 80px auto;
        padding: 20px 40px 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
    }
    .image-container {
        width: 75%;
    }
    .text-image-helper {
        font: 400 2em 'Oleo Script', Helvetica, sans-serif;
        color: #ffffff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        line-height: 1.2;
        align-content: center;
    }
    #map {
        width: 95%;
        margin-bottom: 1em;
    }
    .footer-helper {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-top: -0.1em;
        border-top-right-radius: 0em !important;
        border-top-left-radius: 0em !important;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em;
    }
    .contact-tab {
        display: none;
    }
    .find-tab {
        display: none;
    }
}
@media (max-width: 600px) {
    header {
        padding-bottom: 1em;
    }
    img {
        width: 100%;
    }
    .main-container {
        display: inline-block;
        margin-top: -23px;
        background-color: rgba(156, 4, 136, 0.01);
    }
    .text-image-helper {
        font: 400 2em 'Oleo Script', Helvetica, sans-serif;
        color: #ffffff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        line-height: 1.2;
        align-content: center;
    }
    .contact-info {
        display: inline-block;
        width: 100%;
        float: none;
        padding: 0px 0px 0px 0px;
    }
    .navbar {
        margin-bottom: 2em;
        min-height: 10em !important;
    }
    .navbar-brand-helper {
        font: 1em;
    }
    .navbar-header-helper {
        width: 100%;
        display: block;
    }
    .navbar-brand-description {
        margin-left: 0em;
    }
    .nav-brand-width-helper {
        width: 100%;
        text-align: center;
    }
    .image-container {
        width: 70%;
        padding: 5px;
        display: inline-flex;
        position: relative;
        text-align: center;
        transition: all 0.3s ease-out;
      }
    .image-container:hover img {
        transform: scale(1.1, 1.1);
        transition: all 0.3s ease-out;
        transition: all 0.3s ease-in;
    }
    .nav-links {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0px;
    }
    .nav-links-width-helper {
        width: 100%;
        text-align: center;
    }
    li {
        padding: 0px 0px 5px 15px;
        display: inline-block;
    }
    body {
        font-size: 1.5em !important;
    }
    .contact-holder {
        margin: 0px;
        display: grid;
    }
    .contact-info-left {
        display: block;
        text-align: center;
        line-height: 1em;
    }
    .contact-info-right {
        display: block;
        text-align: center;
        line-height: 1em;
    }
    .contact-width {
        width: 100%;
    }
    .sidenav {
        margin-top: 0px;
        background-color: rgb(255, 247, 254);
        height: 100%;
    }
    .contact-tab {
        display: none;
    }
    .find-tab {
        display: none;
    }
    .find-sidenav {
        width: inherit;
        position: inherit;
        z-index: inherit;
        top: inherit;
        right: inherit;
        background-color: transparent;
        overflow-x: inherit;
        transition: 0.5s;
        border: 0px;
        border-top-left-radius: 0em;
        margin-top: 0em;
        border-bottom-left-radius: 3em;
    }
}
/***************          Media Query                   ***************/

@media (max-width: 1000px) {
    .navbar {
        margin-bottom: 2em;
        min-height: 8em !important;
    }
    .main-container {
        display: inline-block;
        margin-top: -23px;
    }
    .contact-info {
        display: inline-block;
        width: 100%;
        float: none;
        padding: 0px 0px 0px 0px;
    }
    .contact-helper {
        text-align: center
    }
    .col-cust-9 {
        width: auto;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-cust-12 {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .sidenav {
        margin-top: 0px;
        height: 100%;
        border-bottom-right-radius: 0em;
    }
    .contact-tab {
        display: none;
    }
    .find-tab {
        display: none;
    }
    .find-sidenav {
        width: 100%;
        position: inherit;
        z-index: inherit;
        top: inherit;
        right: inherit;
        background-color: transparent;
        overflow-x: inherit;
        transition: 0.5s;
        border: 0px;
        border-top-left-radius: 0em;
        margin-top: 0em;
        border-bottom-left-radius: 0em;
        margin-bottom: 1em;
        display: none;
    }
    .contact-sidenav {
        width: 100%;
        position: inherit;
        z-index: inherit;
        top: inherit;
        right: inherit;
        background-color: transparent;
        overflow-x: inherit;
        transition: 0.5s;
        border: 0px;
        border-top-left-radius: 1em;
        margin-top: 0em;
        border-bottom-left-radius: 0em;
        margin-bottom: 1em;
        display: none;
    }
    .contact-width {
        width: 45%;
    }
    .contact-float-left {
        float: left
    }
    .contact-float-right {
        float: right
    }
    .container-title {
        margin-bottom: 1em;
    }
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}