<a name="contact"></a>
<div id="contactSidenav" class="contact-sidenav animated">
        <div id="contact-tab" class="contact-tab">
                <!-- <span style="cursor:pointer" class="contact-text glyphicon glyphicon-phone" onclick="openContactNav()">
                        Contact</span> -->
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="openContactNav()">&times;</a>
<div class="jumbotron">
    <h2 class="container-title">Contact Info</h2>
    <div class="contact-width contact-float-left">

        <div >
            <span class="glyphicon glyphicon-envelope"></span><p>email@email.com</p>
            <span class="glyphicon glyphicon-phone-alt"></span><p>01484 888888</p>
            <span class="glyphicon glyphicon-phone"></span><p>07888 888888</p>
        </div>
    </div>

    <div class="contact-width contact-float-right">
        <div>
                <span><button href="/" class="btn btn-social-icon btn-facebook" style="width:10em">Facebook</button></span><br><br>
                <span> <button href="/" class="btn btn-social-icon btn-twitter" style="width:10em">Twitter</button></span><br><br>
                <span><button href="/" class="btn btn-social-icon btn-instagram" style="width:10em">Instagram</button></span><br>

        </div>
    </div>
</div>
</div>

<script>
        function openContactNav() {
            if($(window).width() < 1000){
                if (document.getElementById("contactSidenav").style.display != "" &&
            document.getElementById("contactSidenav").style.display != "none"    ) {
                document.getElementById("contactSidenav").style.display = "none";
                } else {
                    document.getElementById("contactSidenav").style.display = "inline-block";
                }
            } else {
                if(document.getElementById("contactSidenav").clientWidth != 0){
                    closeContactNav();
                } else {
                    document.getElementById("contactSidenav").style.width = "320px";
                    document.getElementById("contact-tab").style.marginLeft = "22em";
                }
            }
        }
        
        function closeContactNav() {
            document.getElementById("contactSidenav").style.width = "0";
            document.getElementById("contact-tab").style.marginLeft = "0em";

        }
</script>