<div class="jumbotron col-xs-12">
    <div class="contact-holder">
        <div class="contact-info-left contact-width">
                <h2>Contact Info</h2>
                <p>Email: email@email.com</p>
                <p>Landline: 01484 888888</p>
                <p>Mobile: 07888 888888</p>
        </div>  
        <div class="contact-info col-xs-4"></div>
        <div class="contact-info-right contact-width">
                <h2>Showroom Address</h2>
                <p>634a Wakefield Road</p>
                <p>Waterloo</p>
                <p>Huddersfield</p>
                <p>HD5 0PZ</p>
        </div>
    </div> 
</div>