<a name="contact"></a>
<div id="contactSidenav" class="contact-sidenav animated">
        <div id="contact-tab" class="contact-tab">
                <!-- <span style="cursor:pointer" class="contact-text glyphicon glyphicon-phone" onclick="openContactNav()">
                        Contact</span> -->
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeContactNav()">&times;</a>
<div class="animated">
    <h2 class="container-title">Contact Info</h2>
    <div>

        <div >
                <a class="word-wrapping" href="mailto:barbarabrown50@hotmail.com?subject=Hat/Fascinator Enquiry &body=Hi Barbs and Auds!%20%20"><span class="glyphicon glyphicon-envelope">barbarabrown50@hotmail.com</span></a>
                <a href="tel:+447508 534518"><span class="glyphicon glyphicon-phone">07508 534518</span></a>
            <span><button onclick="window.open(
                        'https://www.facebook.com/madhatter634/',
                        '_blank' 
                      );" target='_blank'; class="btn btn-social-icon btn-facebook" style="width:10em"><i class="fas fa-user">Facebook</i></button></span><br><br>
        </div>
    </div>
</div>
</div>

<script>
        function openContactNav() {
            if($(window).width() < 1000){
                if (document.getElementById("contactSidenav").style.display != "" &&
            document.getElementById("contactSidenav").style.display != "none"    ) {
                document.getElementById("contactSidenav").style.display = "none";
                } else {
                    document.getElementById("contactSidenav").style.display = "inline-block";
                }
            } else {
                if(document.getElementById("contactSidenav").clientWidth != 0){
                    closeContactNav();
                } else {
                    document.getElementById("contactSidenav").style.width = "auto";
                    document.getElementById("contactSidenav").style.height = "auto";
                    document.getElementById("contactSidenav").style.display = "block";
                    //document.getElementById("contact-tab").style.marginLeft = "22em";
                }
            }
        }
        
        function closeContactNav() {
            //document.getElementById("contactSidenav").style.width = "0";
            document.getElementById("contactSidenav").style.display = "none";

        }
</script>