<a name="find"></a>
<div id="findContainer" class="find-sidenav-closed animated">
    <div id="find-tab" class="find-tab">
        <!-- <span style="cursor:pointer" class="find-text glyphicon glyphicon-map-marker" onclick="openFindNav()">
            Find Us</span> -->
    </div>
    <div class="animated">
        <h2 class="container-title">Showroom Address</h2>
        <div></div>
            <div>
                <p>634a Wakefield Road</p>
                <p>Waterloo</p>
                <p>Huddersfield</p>
                <p>HD5 8PZ</p>
            </div>
        </div>
        <div>
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var uluru = { lat: 53.644778, lng: -1.737702 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD29gE73HoTMA_CPaydxzNLY_uJ7I1QoMU&callback=initMap">
</script>