<div>
    <div class="footer-helper">
        <p class="text-center text-muted">© Copyright 2018 Barbs&Aud's Hats and Fascinators</p>
      </div>
      <script src="/reload/reload.js"></script>
</div>



