<div class="footer-helper">
    <div class="col-xs-12 footer-helper">
        <p class="text-center text-muted">© Copyright 2018 Barbs&Aud's Hats and Facinators</p>
      </div>
      <script src="/reload/reload.js"></script>
</div>



