
<div class="navbar-header-helper">
    <div class="nav-brand-width-helper">
        <a href="/">
            <!-- <span class="glyphicon glyphicon glyphicon-home"></span> -->
            <p class="navbar-brand-helper" >
                Barb's &  Aud's
                &nbsp; Hats  & Fascinators
            </p>
        </a>
    </div>
</div>
<nav class="navbar-helper" role="navigation">
    <div class="container-fluid-custom">
        <div class="nav-links-width-helper">
                <ul class="nav-links">
                    <li class="nav-link"><a href="/"><span class="glyphicon glyphicon glyphicon-home">Home</span></a></li>
                    <li>|</li>
                    <li class="nav-link"><a href="/about"><span class="glyphicon glyphicon glyphicon-user">About</span></a></li>
                    <li>|</li>
                    <li id="contact" class="nav-link">
                        <span style="cursor:pointer" class="glyphicon glyphicon-phone">
                           <a href="javascript:;"> Contact</a></span>
                    </li>
                    <li>|</li>
                    <li id="find" class="nav-link">
                            <span style="cursor:pointer" class="glyphicon glyphicon-map-marker">
                                    <a href="javascript:;"> Find</a></span>
                    </li>

                </ul>
            </div>
    </div>
</nav>

<button onclick="backToTop.topFunction()" id="backToTop" title="Go to top"><span class="glyphicon glyphicon-arrow-up"></span> Back to top</button> 