/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

/***************          Elements                     ***************/
header {
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
/***************          Fonts                          ***************/


/***************          Navigation                     ***************/
.navbar {
  min-height: 8em !important;
}

.navbar-helper {
  height: 1px;
  display: contents;
}
.navbar-header-helper {
  display: inline-flex;
  width: 100%;
  margin-top: 0.5em;
  padding: 20px 20px 0px 20px !important;
}
.navbar-brand-helper {
  font: 400 75px/0.6 'Tangerine', cursive;
  color: rgb(0, 0, 0);
  text-shadow: 5px 2px 0px rgba(54, 46, 54, 0.17);
}
.navbar-brand-description{
  margin-left: 1em;
}
.nav-brand-width-helper {
  width: 66%;
}
.nav-links {
  margin-top: 30px;
  text-align: right;
}
.nav-links li {
  font-size: calc(100% + 0.3em);
  padding: 0px 0px 5px 10px;
}
.nav-link a{
  color: rgb(0, 0, 0);
}
 
/***************          Layout                       ***************/

/***************          Content                       ***************/
.tagline-text-helper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.map-header{
 text-align: center;
}
#map {
  height: 400px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
 }
div.jumbotron {
  padding: 20px 20px 20px 20px !important;
  background-color: rgba(156, 4, 136, 0.05) !important;
  border-top: 5px rgba(156, 4, 136, 0.05) solid; 
  border-radius:1px; 
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  border-radius:10px;
  border-top: 5px;
 background-color: rgba(156, 4, 136, 0.05) !important;
  border-top: 5px rgba(156, 4, 136, 0.05) solid; 
}
.container .jumbotron {
  border-radius: 0px !important;
}
.contact-info-left {
  text-align: left;
  line-height: 0.9em;
}
.contact-info-right {
  text-align: right;
  line-height: 0.9em;
}
.contact-holder {
  margin: 0em 5em 0em 5em;
  display: flex;
}
.contact-width{
  width: 45%;
}
.hat-collection {
  text-align: center;
}
.hat {
  width: 12em;
  display: inline-block;
  align-content: center;
  padding: 1em;
  position:relative;
  background:url() 50% 50% no-repeat;
  background-size:cover;
  background-clip:content-box;
  border-radius: 10px;
}

.hat img {
  border-radius: 1em;
}
.hat img:hover {
  z-index: 5;
  transform: scale(2, 2);
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-in;
}
.hat-details{
  font: 400 2em 'Oleo Script', Helvetica, sans-serif;
  color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  line-height: 0.9em;
  align-content: center;
}
.hat-info {
  position: absolute;
  top: 7em;
  left: 1.5em;
}
/***************          Images                        ***************/
.image-container {
  width: 30%;
  padding: 5px;
  display: inline-flex;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-out;
}
.image-container:hover img {
  transform: scale(1.1, 1.1);
  transition: all 0.3s ease-out;
  transition: all 0.3s ease-in;
}
.images-holder {
  display: inline-block;
  text-align: center;
}
.text-image-holder {
  position: absolute;
  bottom: 8px;
  left: 20px;
}
.display-image {
  margin: auto;
  display: inherit;
  border-radius: 25px;
  background: rgb(255, 255, 255, 0.4);
  padding: 5px;
  height: 85%; 
}
.text-image-helper {
  font: 400 3em 'Oleo Script', Helvetica, sans-serif;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height: 1.2;
  align-content: center;
}
.about-image {
  margin: auto;
  width: 100%;
  padding: 10px;
  display: inline-flex;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 5px;
 }
img {
    display: inline-block;
    width: 100%;
    height: auto;
}
/***************          Media Query                   ***************/
@media (max-width: 1000px) { 
  .navbar {
    margin-bottom: 2em;
    min-height: 8em !important;
  }

}



@media (max-width: 600px) {
  img {
    width: 100%;
  }
  .image-container {
    width: 100%;
  }
  .contact-info {
    font: 1em;
    display: contents;
  }
  .navbar {
    margin-bottom: 2em;
    min-height: 10em !important;
  }
  .navbar-brand-helper {
    font: 1em;
  }
  .navbar-header-helper {
    width: 100%;
    display: block;
  }
  .navbar-brand-description{
    margin-left: 0em;
  }
  .nav-brand-width-helper {
    width: 100%;
    text-align:center;
  }
  .image-container:hover img {
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-in;
  }
  .nav-links {
    text-align: center;
    margin-top: 5px;
  }
  .nav-links-width-helper {
    width: 100%;
  }
  li {
    padding: 0px 0px 5px 15px;
    display: inline-block;
  }
  body {
    font-size: 1.5em !important;
  }
  .contact-holder {
    margin: 0px;
    display: grid;
  }
  .contact-info-left {
    display: block;
    text-align: center;
    line-height: 1em;
  }
  .contact-info-right {
    display: block;
    text-align: center;
    line-height: 1em;
  }
  .contact-width{
    width: 100%;
  }
}

@media (max-width: 400px) { 
  .navbar-brand-helper {
    font: 400 40px/0.6 'Tangerine', cursive;
    color: rgb(0, 0, 0);
    text-shadow: 5px 2px 0px rgba(54, 46, 54, 0.17);
  }
}


.login-container{
  position: relative;
  width: 300px;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
}

#output{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success{
  background: rgb(25, 204, 25);
}

#output.alert-danger{
  background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid #ccc;

}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
   -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);

}

.avatar{
  width: 100px;height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;

}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
}

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

100% {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}