<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>A little bit about us</h1>
            <p>We are two milleners based in Huddersfield who have a passion for design, arts & crafts, fasion and millinery.</p>
            <p>We love creating bespoke hats and facinators tailored to your own tastes, specification and style. 
                Our hats and facinators have been worn infront of the Queen herself, countless weddings, private functions 
            and of course at the races up and down the country.</p>
            <p>Every hat and facinator we create is unique to you, perfectly complimeting that beautiful dress or suit
                you have chosen for your special event! We love to create unique designs to take your outfit to the next level of WOW!
            </p>
            <p>When an 'off the shelf' hat just won't cut it; that's where we come in. Not only will we create you an 
                unique product. We'll offer you a personalised service, fitting and our honest opinions with purchsing or rental available to everyone!
                A limited budget or unusual requirements aren't an issue with us. We want you to look fabulous and we'll go out of our way to help in any way we can!
            </p>
            <p>Why have a hat anyone can buy?</p>
            <p>Barbs&Auds are ready, waiting and excited to create you a beautiful, uniquie and bespoke hat to really make your outfit stand out!</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well jumbotron">
            <div class="about-image">
                <img alt="Barbs and Auds" src="/images/people/people_003.jpg" >
            </div>  
        </div>
    </div>
    <div class="col-sm-4">        
            <div class="well jumbotron">
                <div class="contact-info">
                    <h2>Contact Info</h2>
                    <p>Enail: email@email.com</p>
                    <p>Landline: 01484 888888</p>
                    <p>Mobile: 07888 888888</p>
                </div>  
            </div>
        </div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
