<!DOCTYPE html>
<html lang="en">

<head>
        <% include ../partials/head %>
</head>

<body class="container">

        <header>
                <% include ../partials/header %>
        </header>

        <main>
                <script>
                        if (loggedIn === true) {
                                $(document).on("click", "#gen-content", function () {
                                        console.log($(this));
                                        var contentData = $(this)[0].textContent;
                                        $(".modal-body #current-text").text(contentData);
                                });
                        }

                </script>
                <div class="main-container ">
                        <div class="jumbotron ">
                                <div class="tagline-text-helper">
                                        <% if (loggedIn === true) { %>
                                                <p id="gen-content" data-toggle="modal" data-target="#myModal">
                                                       
                                                </p>
                                                <% } else { %>
                                                        <p id="gen-content">
                                                        </p>
                                                        <%}%>
                                                                <div class="images-holder">
                                                                        <a class="home-image-link" href="/fascinators">
                                                                                <div class="image-container">

                                                                                        <img alt="View Fascinators" class="display-image" src="/images/fascinators/f8.jpg" />
                                                                                        <div class="text-image-holder">
                                                                                                <span class="text-image-helper">Fascinators</span>
                                                                                        </div>
                                                                                </div>
                                                                        </a>
                                                                        <a class="home-image-link" href="/showroom">
                                                                                <div class="image-container">
                                                                                        <img alt="View Showroom" class="display-image" src="/images/showroom/showroom_005.jpg" />
                                                                                        <div class="text-image-holder">
                                                                                                <span class="text-image-helper">Showroom</span>
                                                                                        </div>
                                                                                </div>
                                                                        </a>
                                                                        <a class="home-image-link" href="/hats">
                                                                                <div class="image-container">
                                                                                        <img alt="View Hats" class="display-image" src="/images/hats/hat_013.jpg" />
                                                                                        <div class="text-image-holder">
                                                                                                <span class="text-image-helper">Hats</span>
                                                                                        </div>
                                                                                </div>
                                                                        </a>
                                                                </div>
                                </div>
                                <% include ../partials/contact %>
                                        <% include ../partials/find %>

                        </div>
        </main>

        <footer>
                <% include ../partials/footer %>
        </footer>

</body>

</html>